@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#loginDiv {
  width: 100% !important;
  display: flex;
  justify-content: center;
  /* Center the button horizontally if needed */
}
/* #gsi_521795_223160{
  width: 100% !important;
}
.haAclf{
  width: 100% !important;
}

.S9gUrf-YoZ4jf{
  width: 100% !important;
} */